# Environments & API Keys (保護氣象署 API 金鑰)
.env
*.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Node / Web
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
